#projects{
    padding-top: 7rem;
}

.presentation_image{
    height: 500px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.presentation-container> * + * {
    margin-top: 1rem;
}

.project__item h3{
    margin:1.2rem ;
}

.yt-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.youtube-wrapper{
    margin: 1rem;
}

.project__item-cta{
  display: flex;
  margin-bottom: 1rem;  
}

.btn{
    text-align: center;
    margin: 0.5rem;
}
@media screen and (max-width: 600px){
    .project__item-image{
        height: 150px;
    }
}