#projects{
    padding-top: 7rem;
}

.project__item{
    background: #0f0e22;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition) ;
}

.project__item-image{
    height: 500px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.project__item h3{
    margin:1.2rem ;
}

.project__item-cta{
  display: flex;
  margin-bottom: 1rem;  
}

.btn{
    text-align: center;
    margin: 0.5rem;
}
@media screen and (max-width: 600px){
    .project__item-image{
        height: 150px;
    }
}