.about__container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about__me{
    width: 100%;
    aspect-ratio: 0.5/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        
    );
    display: grid;
    place-items: center;
}
.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    
}
.abou__content p{
    
    margin: 2rem 0 2.6rem;
    margin-top: 20rem;
}