header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    margin-left: 50px;
    margin-top: 10vh;
}

/*==CTA==*/
.cta {
    margin-top: 2.5rem;
    position: relative;
    gap: 1rem;
    justify-content: left;
}
/*==IMAGE==*/
.me{
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-10%);
    margin-top: 4rem;
    border-radius: 11rem;
    overflow: hidden;
    padding: 0 0 1.5rem 0 ;
}
/* animation */
/* @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .header__container h1,
  .header__container h5 {
    animation: fadeInDown 1s ease-in-out both;
  }
  
  .header__container h1 {
    animation-delay: 0.5s;
  }
  
  .header__container h5 {
    animation-delay: 1s;
  }
   */
/*===== MEDIA QUERIES FOR MEDIUM DEVICES====*/
@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
    .header__container{
        display: flex;
        flex-direction: column;
    }
    .me{
        margin-top: 15rem;
        width:22rem;
    height: 30rem;
        transform: translateX(-50%);
    }
}

/*===== MEDIA QUERIES FOR SMALL DEVICES====*/
@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header__container{
        display: flex;
        flex-direction: column;
    }
    .me{
        margin-top: 15rem;
        width:22rem;
    height: 30rem;
        transform: translateX(-50%);
    }
}